$white: white;
$black: black;
$green: green;
$blue: blue;
$gray: gray;
$lightBlue: cornflowerblue;
/*бежевый, но светлее*/
$beige: blanchedalmond;
/*использовать чтобы сделать прозрачный фон*/
$invisible: rgba(0, 0, 0, 0);
